/**********Fonts*****************/
@font-face {
    font-family: Airglyphs;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-bb873ab4254c83409cf1fa6f4759fa3e.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-d90404cb884b74a27264dda25857850d.ttf") format("truetype"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-7d42310c5dceba0df8c1d505e2812d4b.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Circular;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-b222d268121d6dbe23687b805b117820.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-5e9166cb8de519304777ec4f64ea2b10.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book-98e37c7514bb7096658cabbf6d43e783.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Circular;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-4909b413294f9048153d6dee23438b24.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-1db902f5b85bbb0964e2994434edbe16.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Book_Italic-0d9eb203b260869dc2470ae35162fc1e.svg") format("svg");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: Circular;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-f6a8738f19ae14110b36ff16220403d9.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-f035b2dd663315f58d818cb468d3e61d.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Bold-190e0f26359cdc7d8d093e1a04983ed3.svg") format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Circular;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-8191d5473a5ccd7b25e738600215254c.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-8950dbf90cbf87bc875f4cb05698e773.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-ea56415eb35466568fd22e41c7352796.svg") format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Circular;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-8191d5473a5ccd7b25e738600215254c.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-8950dbf90cbf87bc875f4cb05698e773.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Circular_Air-Light-ea56415eb35466568fd22e41c7352796.svg") format("svg");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: Airmoji_Standalone;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/airmojix-Regular-a11058486e79b2dd9fa1455051f9df4a.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/airmojix-Regular-651813bf44a6d73fe63a03444eb3e094.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/airmojix-Regular-ad76fa9e85d2b02a85cc9f41bf7f75c9.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Fortescue;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Fortescue-Regular-Web-6e2cb51423d213ab44f0e646c9e384b0.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Fortescue-Regular-Web-a2424660cc9db2f380f201150e988c41.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Fortescue-Regular-Web-b97fed184ac0a71adbe8d1ce12c08260.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Fortescue;
    src: url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Fortescue-SemiBold-Web-09b7b301ac8d6007b9b66c700a694872.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Fortescue-SemiBold-Web-69b2266e83410df6465ba8ffffc5b19e.woff") format("woff"), url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/Fortescue-SemiBold-Web-0a42c7bb089f1411bfdfc5f0a1dc22c2.svg") format("svg");
    font-weight: 600;
    font-style: normal
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar_logo {
    color: #FF5A5F !important;
    display: inline-block !important;
    vertical-align: middle !important;
    font-size: 34px !important;
    -webkit-transition: 0.25s color !important;
    -moz-transition: 0.25s color !important;
    transition: 0.25s color !important;
}

.navbar_header-maindiv {
    display: table-cell !important;
    height: 64px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    -webkit-transition: 0.25s color !important;
    -moz-transition: 0.25s color !important;
    transition: 0.25s color !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
    border-right: 1px solid #DBDBDB;
}

._t7nb5l {
    color: #767676 !important;
    display: inline-block !important;
    font-size: 9px !important;
    margin-left: 8px !important;
    -webkit-transition: 1s color !important;
    -moz-transition: 1s color !important;
    transition: 1s color !important;
}

._d5depq {
    display: table-cell !important;
    vertical-align: middle !important;
    -webkit-transition-property: -ms-transform, -webkit-transform, transform !important;
    -moz-transition-property: transform !important;
    transition-property: -ms-transform, -webkit-transform, transform !important;
    -webkit-transition-duration: 250ms !important;
    transition-duration: 250ms !important;
    -webkit-transition-timing-function: ease-in-out !important;
    transition-timing-function: ease-in-out !important;
}

._10ejfg4u {
    display: table-cell !important;
    width: 100% !important;
    vertical-align: middle !important;
}

._2930ex ._10ejfg4u {
    padding-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
textarea,
select {
    font-size: 16px;
}

._1ge8ida {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: none !important;
    border: none !important;
    display: block !important;
    height: 64px !important;
    margin: 0px !important;
    outline: none !important;
    padding: 0px !important;
    padding-left: 16px !important;
    padding-right: 48px !important;
    -webkit-transition: 1s color !important;
    -moz-transition: 1s color !important;
    transition: 1s color !important;
    width: 79.5% !important;
}

._1pva0yh {
    color: inherit !important;
    font-size: 18px !important;
    opacity: 0.5 !important;
    position: absolute !important;
    top: 50% !important;
    -webkit-transition: 1s color !important;
    -moz-transition: 1s color !important;
    transition: 1s color !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    right: 16px !important;
}

.navbar-default {
    background-color: #fff !important;
    border: 1px solid #DBDBDB !important;
}

._1tj25e6e {
    position: relative !important;
    width: 100% !important;
    background-color: #f5f5f5 !important;
    cursor: pointer !important;
}

._75zala {
    height: 368px !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
}

.panel-overlay-listing-label {
    bottom: 30px;
    left: 0;
    padding: 7px 10px;
}

.panel-overlay-label {
    background-color: #2d2d2d;
    background-color: rgba(45, 45, 45, 0.9);
    padding: 10px;
    color: #fff;
}

.panel-overlay-bottom-left {
    position: absolute;
}

._11cezzg {
    color: #ffffff !important;
    font-size: 22px !important;
    font-weight: normal !important;
    line-height: 1.1 !important;
    text-rendering: optimizelegibility !important;
}

._bwd0sy {
    position: absolute !important;
    left: auto !important;
    right: 20px !important;
    bottom: 30px !important;
}

.btn {
    padding: 7px 21px;
    font-size: 13px;
    border-color: #c4c4c4;
    background: white;
    color: #484848;
    display: inline-block;
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    line-height: 1.43;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
}

.navbar {
    margin-bottom: 0px !important;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._1kzvqab3 {
    padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
}

._1yboa9e {
    border-bottom: 1px solid #DBDBDB !important;
    height: 51px !important;
}

._e296pg {
    position: relative !important;
}

._4nwxh0j {
    -webkit-overflow-scrolling: touch !important;
    height: 100% !important;
    width: 100% !important;
    overflow-y: hidden !important;
}

._1hdg4s7t {
    height: 100% !important;
    overflow-x: scroll !important;
    overflow-y: auto !important;
    white-space: nowrap !important;
    padding-bottom: 30px !important;
    margin-bottom: -30px !important;
}

._up0n8v6 {
    font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: inline !important;
}

._1jhetorm {
    font-weight: normal !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: inline !important;
}

._t5g4kn {
    margin: 0 4px 0 4px !important;
}

._kx1rb {
    position: fixed !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    z-index: 100 !important;
}

._gor68n {
    position: relative !important;
    z-index: 1 !important;
}

.bookit-message__friendly-booking {
    background-color: #fff;
    border-top: 1px solid #dce0e0;
    padding: 7px;
}

.panel-btn-sm {
    padding: 10px 20px;
    left: 0;
    right: 0;
    z-index: 100;
}

.btn-large {
    padding: 9px 27px;
    font-size: 15px;
}

.btn-block {
    display: block;
    white-space: normal;
    width: 100%;
}

.btn-primary {
    border-color: #ff5a5f;
    background-color: #ff5a5f;
    color: #fff;
}

.bookit-message__friendly-booking {
    background-color: #fff;
    border-top: 1px solid #dce0e0;
    padding: 7px;
}

.text-muted {
    color: #767676;
}

a {
    color: #008489;
    text-decoration: none;
}

._1r3plqb {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
}

._1mszfa7p {
    font-weight: normal !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 17px !important;
    line-height: 22px !important;
    letter-spacing: 0.2px !important;
    display: inline !important;
}

._1bqpakk9 {
    display: inline-block !important;
    color: #008489 !important;
    font-size: 12px !important;
    height: 12px !important;
    margin-right: 3px !important;
    width: 12px !important;
}

._1thk0tsb {
    display: table-cell !important;
    vertical-align: top !important;
}

.title-2 {
    font-size: 30px !important;
    line-height: 40px !important;
    font-weight: 700 !important;
    letter-spacing: -0.6px !important;
    line-height: 44px !important;
    padding-bottom: 6px !important;
    padding-top: 6px !important;
    word-wrap: break-word !important;
}

.show-inline-block {
    display: inline-block !important;
}

.text-small {
    font-size: 15px !important;
    line-height: 18px !important;
}

.h6 {
    font-size: 13px;
    font-weight: bold;
    color: #767676;
    line-height: 1.1;
    text-rendering: optimizelegibility;
}

.h6 small {
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    color: #767676;
    font-size: 0.85em;
}

._qtix31 {
    display: table !important;
}

._1thk0tsb {
    display: table-cell !important;
    vertical-align: top !important;
}

._iq8x9is {
    padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
    width: 40% !important;
    float: left !important;
}

._1re2ppc {
    position: absolute !important;
    top: 0px !important;
    width: 100% !important;
    height: 90px !important;
    background: -webkit-linear-gradient(to top, transparent, rgba(0, 0, 0, 0.2)) !important;
    background: -moz-linear-gradient(to top, transparent, rgba(0, 0, 0, 0.2)) !important;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.2)) !important;
}

._1k1ggho {
    position: absolute !important;
    top: 24px !important;
    right: 24px !important;
}

._gcgb88 {
    white-space: nowrap !important;
    line-height: 0 !important;
}

.nav_subdiv {
    display: inline-block !important;
}

._98kere2 {
    cursor: pointer !important;
    background-color: transparent !important;
    color: buttontext !important;
    border: 0px !important;
    outline: none;
    display: inline-block !important;
}

.room__dls {
    margin-left: 12px;
    margin-right: 12px;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 17px !important;
    font-weight: 300 !important;
    letter-spacing: 0.2px !important;
    line-height: 22px !important;
}

._hru5eas {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    width: auto !important;
}

._18fdjt5 {
    display: inline-block !important;
    padding: 16px 0 16px 0 !important;
}

.btn-primary:active {
    color: #fff;
    background-color: #922023 !important;
}

._9w5i1l {
    color: #008489 !important;
    font: inherit !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    text-decoration: none !important;
}

._18fdjt5 {
    display: inline-block !important;
    padding: 16px 0 16px 0 !important;
}

._d4a02gn {
    color: #484848 !important;
    font: inherit !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    text-decoration: none !important;
}

._15zpre8 {
    color: #484848 !important;
    position: relative !important;
}

.room__dls .text-small {
    font-size: 15px !important;
    line-height: 18px !important;
}

._sd42b8p {
    font-weight: 300 !important;
    color: #767676 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: inline !important;
}

.fade.in {
    opacity: 1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}